
  
.menu li
  {display: inline-block;
}


.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.logo-container {
    margin-right: 20px; 
    margin-bottom: 20px; 
    padding: 10px 20px;
}

.menu {
    display: flex; 
    margin-left: 40px;
}

.menu li {
    margin-right: 40px; 
}

.menu a {
    text-decoration: none; 
    color: black; 
}

button[type="button"]{color: var(--TextColor-BrandPrimary, rgba(58, 115, 38, 1));
    border: 1px solid var(--Primary-PR300, rgba(166, 220, 148, 1)); 
    border-radius: 5px; 
    cursor: pointer; 
    background-color: transparent; 
    padding: 0px 8px 0px 8px
    /* width: 145px;
    height: 20px; - показує помилку, так і не зміг зрозуміти чому */
}

button[type="button2"] {
    background: var(--Primary-PR600, rgba(58, 115, 38, 1));
    border-radius: 5px;
    cursor: pointer;
    padding: 0px 8px 0px 8px;
    color: var(--DarkOverlayElement-100, rgba(255, 255, 255, 1));
    width: 145px; 
    height: 20px;
}





.ctn-wrp {
    text-align: left;
    margin-top: 100px; /* Як перемістити це лого? */
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    padding: 10px 20px;
}

.hero-text {
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: normal; /*Чому шрифт параграфа залишається жирним?*/
}

.logo {
    float: right; 
}

.about-section {
    padding: 100px;
   
} 

.about-section h6 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 50px;
}

.about-section h1.bold {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 50px;
}

.about-section p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.stat-column {
    text-align: center;
}

.stat-number {
    font-size: 32px;
    font-weight: bold; 
}

.stat-text {
    font-size: 14px;
    line-height: 1.6;
    padding-top: 20px;
    padding: 10px 20px;
}

.button-container {
    margin-top: 10px;
}

.read-more {
    display: inline-block;
    padding: 10px 20px;
    color: rgba(58, 115, 38, 1);
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.text-wrapper { 
    text-align: center;
    padding: 30px;
}

.headline {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}